<footer style="color:white;background: crimson" class="w3-container w3-padding-hor-32 w3-theme-d1 w3-center">
	 <a class="w3-btn-floating w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-btn-floating w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-btn-floating w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
 
  <p>toa nha 343,sdsa,dasdas</p>
  <p>0987.232.42432</p>
  <p>chaprynz@chapry.com</p>
</footer>