@import 'w3.scss';
@import 'font-awesome';
@import "toastr";
a {
    text-decoration:none;
   
}


.active .r {
  background: rgba(215, 44, 44, 0.5);
 
}


nav a.active {
   background: black;
  color: green;
  
}

img {
    width: 100%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.pagination {
    background: #414449;
    color: #feffff;
    padding: 8px 8px 8px 8px;
}

.page {
    border: solid 1px #32373b;
    
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
    padding: 5px;
    
    border-radius: 3px; /*optional*/
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.current {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

.page:hover, .page.dark.gradient:hover {
   background: #3e4347; 
}
.next {
    border: solid 1px #32373b;
    
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
    padding: 5px;
    
    border-radius: 3px; /*optional*/
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}
.last {
    border: solid 1px #32373b;
    
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
    padding: 5px;
   
    border-radius: 3px; /*optional*/
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}
.first {
    border: solid 1px #32373b;
    
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
    padding: 5px;
   
    border-radius: 3px; /*optional*/
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.prev {
    border: solid 1px #32373b;
    
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
    padding: 5px;
    
    border-radius: 3px; /*optional*/
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.alink a {
    background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.alink a::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;  
}
.alink a::after {
    background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.alink a:hover {
    background-color: crimson;
  color: white;
}
.alink a:hover::after {
  border-left-color: crimson; 
}


.content {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
 
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}



body {
	background: url(https://s3.amazonaws.com/froala/temp_files%2F1462671193980-back.png);
	background-color: #444;
    background: url(https://res.cloudinary.com/www-virgin-com/f_auto,q_80/virgin-com-prod/profiles/site_installer/themes/custom/virgin/images/bg-main.png?1462446064);    
}

.cse .gsc-control-cse, .gsc-control-cse {
  background: black!important;
  border:0px!important; 
  height:0px!important; 
  margin-top:-52px!important;
  color: black!important;
  position:fixed!important;
  z-index:9999;
  max-width:360px!important;
  margin-left: 99px;
} 

.gs-result .gs-title, .gs-result .gs-title * {
  margin-bottom:16px!important;
}

.gs-title {
  text-decoration:none!important;
  font-weight:bold!important;
  color:green!important;
}

b { text-decoration:none;
}

a.gs-title:link b {
  text-decoration:none!important;
}

.gs-webResult div.gs-visibleUrl-long, .gs-promotion div.gs-visibleUrl-long {
  color:white!important;
}

.cse input.gsc-input, input.gsc-input {
       background: white!important;
}

div.gsc-clear-button {
  background:black!important;
}
 
.gs-web-image-box img.gs-image, .gs-promotion-image-box img.gs-promotion-image {
  width:100%!important;
  height:100%!important;
  max-width:400px!important;
  max-height:400px!important;
  
} 

.shadow {
  -webkit-transition: all 100ms;
  transition: all 100ms;
  font-family: 'Futura', Helvetica;
  font-size: 1.2rem;
  color: #000;
  position: relative;
  box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.05);
}
.shadow:after {
  -webkit-transition: all 100ms;
  transition: all 100ms;
  content: "";
  display: block;
  z-index: -1;
  background-color: black;
  opacity:0.6;
  position: absolute;
  top: 0.5em;
  right: -0.4em;
  left: 0.4em;
  bottom: -0.4em;
  
}
